@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap");

* {
  text-decoration: none;
  font-weight: bolder;
  font-family: "Mukta", sans-serif;
  text-align: justify;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

main {
  max-width: 100%;
}

a {
  color: #ffffff;
}

link {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  padding: 0.3rem 2.5rem 0.3rem 2.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navlink {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-left: 1rem;
  color: #fff;
}

#bodyparent {
  padding: 5rem 5rem 0 2.5rem;
}

#bodychild1 {
  margin-bottom: 3rem;
}

.nameParent {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

.nameChild {
  font-size: 2rem;
  margin: 0;
}

.languages {
  overflow: hidden;
  padding-right: 1rem;
}

i {
  font-size: 2rem;
  padding: 1rem;
}

.icons {
  display: flex;
  flex-direction: row;
  animation: slide 30s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  50% {
    transform: translate3d(calc(100% - 100%), 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

#bodychild2 {
  display: flex;
  align-items: center;
  padding-right: 3vh;
  flex-direction: column;
  padding-left: 10%;
  position: fixed;
  top: 4rem;
  right: 0;
}

.sidebar {
  background-color: #000000;
  overflow-x: hidden;
  padding-top: 40vh;
  width: 10px;
}

.sidebar2 {
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 2vh;
  width: 10px;
}

.sidebar3 {
  background-color: #000000;
  overflow-x: hidden;
  padding-top: 2vh;
  width: 10px;
  animation: blinker2 0.6s cubic-bezier(1, 0, 0, 1) infinite alternate;
}

@keyframes blinker2 {
  to {
    opacity: 0;
  }
}

#icon {
  font-size: 26px;
  width: 26px;
  color: #000;
}

#bodychild3 {
  width: 100%;
  padding-bottom: 9vh;
  background: #000;
}

/* Arts */

#artshead {
  color: #ffffff;
  font-family: "Allison", cursive;
  font-weight: 500;
  margin: 2%;
  font-size: 5rem;
}

#arts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #000;
  color: white;
  top: 61px;
  height: max-content;
}

#arts div img {
  width: 20rem;
  border: 40px;
  transition: transform 0.5s;
}

.artsparent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

#imgarts {
  margin: 20px;
}

#arts div img:hover {
  box-shadow: 0 0 50px #ffffff, 0 0 50px #ffffff;
  transform: scale(1.1);
}

.artstitle {
  font-family: cursive;
  font-style: italic;
}

@media (max-width: 800px) {
  #bodychild2 {
    padding-right: 1vh;
  }

  .icons {
    animation: slide 30s linear infinite;
  }

  i {
    font-size: 3rem;
    padding: 1rem;
  }

  @keyframes slide {
    0% {
      transform: translate3d(-440%, 0, 0);
    }
    50% {
      transform: translate3d(calc(440% - 440%), 0, 0);
    }
    100% {
      transform: translate3d(440%, 0, 0);
    }
  }
}
